{% extends 'base.html' %}

{% block head %}
  <style media="screen">

    body {
      background-image: url("../static/images/LOGO_TRANSPARENCIA.png");
      background-size: cover;
      background-repeat: no-repeat;
    }

    #wrapper {
      text-align: center;

    }
    #slogan {
      display: inline-block;
    }
  </style>

{% endblock %}

{% block content %}
<div id="wrapper">
    <div id="slogan">Sag mir was du zu Hause hast und ich sag dir was du damit kochen kannst.</div>
</div>


<script>
document.addEventListener("click", function(){
  document.getElementById("slogan").innerHTML = "Weiterleitung zur Zutatenauswahl...";
  location.assign("/chose_ingredients")
});
</script>

{% endblock %}
